<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Codewords</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <Style>
        .upsidedown {

            -webkit-transform: rotate(-180deg);
            -moz-transform: rotate(-180deg);
            -o-transform: rotate(-180deg);
            transform: rotate(-180deg);
            ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);

        }

        .upsidedown.card-header{
            padding:0;
        }
        .codeword {
            margin-top: 0.25em;
        }
        
    </Style>
</head>

<body>
    <div id="app">
        <div class="container-fluid">
            <div v-if="gameID != '' && !isPhone">
                <div class="text-center">Currently {{currentTurn}}'s turn</div>
                <div class="row" v-for="i in Math.ceil(words.length / 5)">
                    <div class="col text-center codeword" @click="GuessWord(index+((i-1)*5))" v-for="code,index in words.slice((i - 1) * 5, i * 5)">
                        <!--{{board[index+((i-1)*5)]}}-->
                        <div class="card panel-default">
                            <div class="card-header upsidedown">
                                {{code}}
                            </div>
                            <div class="card-block"><b>{{code}}</b></div>
                        </div>
                    </div>
                </div>
                <hr/>
                <button class="btn btn-danger btn-block btn-sm" @click="EndGame">End Game</button>
            </div>
            <div v-else-if="gameID != '' && role == ''" class="container">
                <br/>
                <h2>Pick your Team</h2>
                <button class="btn btn-block" @click="SetColor('red')">Red</button>
                <button class="btn btn-block" @click="SetColor('blue')">Blue</button>
            </div>
            <div v-else-if="gameID != ''" class="container">
                <div class="text-center">Currently {{(role ==currentTurn)?"your":"not your"}} turn</div>
                <button class="btn btn-block btn-info" @click="EndTurn">End Turn</button>
                <h2>Your Words</h2>
                <ul>
                    <li v-for="word in MyColor">{{word}}</li>
                </ul>
                <h2>Their words</h2>
                <ul>
                    <li v-for="word in TheirColor">{{word}}</li>
                </ul>
                <h2>Death word</h2>
                <ul>
                    <li v-for="word in DeathWord">{{word}}</li>
                </ul>
                <h2>Neutral</h2>
                <ul>
                    <li v-for="word in NoColor">{{word}}</li>
                </ul>
            </div>

            <div v-else class="container">
                <h2>Join a game!</h2>
                <ul class="list-group">
                    <a v-for="game in gamelist" class="list-group-item" @click="JoinGame(game)">{{game}}</a>
                </ul>
                <hr/>
                <input type="text" v-model="newGameName" />
                <button class="btn btn-block" @click="CreateGame">Create a game</button>
            </div>
        </div>
    </div>
</body>

<script>
    var socket = io();


    var width = window.innerWidth ||
        document.documentElement.clientWidth ||
        document.body.clientWidth;

    //TODO SET style automatically to scale to fit screens
    var height = window.innerHeight ||
        document.documentElement.clientHeight ||
        document.body.clientHeight;


    /*$(function(){
       $('form').submit(function(){
           socket.emit('chat message',$("#m").val());
           $('#m').val('');
           return false;
       })
       socket.on("chat message", function(msg){
           $("#messages").append($("<li>").text(msg));
       }) 
    });*/

    function OppositeColor(color) {
        return (color == "red") ? "blue" : "red";
    }

    var app = new Vue({
        el: "#app",
        data: {
            gameID: "",
            gamelist: [],
            newGameName: "",
            role: "",
            currentTurn: "red",
            words: [" ", " ", "Loading words", " ", " ", " "],
            board: [],
            wordsGuessed: [],
            isPhone: (width < 500)
        },
        methods: {
            CreateGame: function () {
                console.log("Creating a game");
                if (this.newGameName == "") return;
                socket.emit("create game", this.newGameName);
            },
            AddGame: function (game) {
                this.gamelist.push(game);
            },
            JoinGame: function (game) {
                console.log("Joining game" + game);
                this.gameID = game;
                socket.emit("join game", game);
                for (var i=0;i<25;i++) this.wordsGuessed[i] = false;
            },
            GuessWord: function(index){
                socket.emit("guess word",[this.gameID,index]);
            },
            EndGame: function () {
                socket.emit("end game", this.gameID);
                this.LeaveGame();

            },
            LeaveGame: function () {
                this.gameID = "";
            },
            SetColor: function (color) {
                this.role = color;
            },
            EndTurn: function () {
                if (this.currentTurn == this.role)
                    socket.emit("end turn", this.gameID);
            }
        },
        computed: {
            MyColor: function () {
                var board = this.board;
                var currentColor = this.role;
                var guesses = this.wordsGuessed;
                return this.words.filter(function (value, index) {
                    return board[index] == currentColor && !guesses[index]
                });
            },
            TheirColor: function () {
                var board = this.board;
                var currentColor = OppositeColor(this.role);
                var guesses = this.wordsGuessed;
                return this.words.filter(function (value, index) {
                    return board[index] == currentColor && !guesses[index]
                });
            },
            DeathWord: function () {
                var board = this.board;
                var currentColor = "death";
                var guesses = this.wordsGuessed;
                return this.words.filter(function (value, index) {
                    return board[index] == currentColor && !guesses[index]
                });
            },
            NoColor: function () {
                var board = this.board;
                var currentColor = "none";
                return this.words.filter(function (value, index) {
                    return board[index] == currentColor
                });
            }

        }
    });

    socket.on("create game", app.AddGame);
    socket.on("game list", function (gameList) {
        console.log(gameList);
        app.gamelist = app.gamelist.concat(gameList);
    });
    socket.on("word list", function (newwords) {
        app.words = newwords;
        console.log("Updating words");
    });
    socket.on("guess word", function (guess) {
        app.wordsGuessed[guess] = true;
        console.log("Updating guesses");
    });
    socket.on("game board", function (newBoard) {
        app.board = newBoard;
        console.log("Updating board");
    });
    socket.on("end turn", function (newPlayerColor) {
        app.currentTurn = newPlayerColor;
    });
</script>

</html>